@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family:"helvetica";
  src:url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
  url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
  url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
}
*{
  font-family:"helvetica";
  font-size: medium;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #fbeaeb;
}

::-webkit-scrollbar-track {
  background-color: #2f3c7e;
  /* background-color: #202124; */
}